.header { position: fixed; top: 0; right: 0px; left: 0px; padding:0 10px; line-height: 30px; background-color: #F0F0F0; border: solid 1px #DDD; z-index: 9999;}
.layer { background-color: rgba(0, 0, 0, .4); position: absolute; margin:0; left: 0; right: 0; top: 0; bottom: 0; text-align: center; display: none;z-index:1;}
.red { color: red; text-shadow: red 10px 10px 10px;}
.orange { color: orange; text-shadow: orange 10px 10px 10px;}
.yellow { color: yellow; text-shadow: yellow 10px 10px 10px;}
.green { color: green; text-shadow: green 10px 10px 10px;}
.cyan { color: cyan; text-shadow: cyan 10px 10px 10px;}
.blue { color: blue; text-shadow: blue 10px 10px 10px;}
.purple { color: purple; text-shadow: purple 10px 10px 10px;}
